<html>
    <head>
        <meta charset="utf-8">
        <title>Vue - listagem, inserção e edição de Jogadores</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head> 
    <body>         
        <div id="app" class="container">               
                <h2>Listagem de Jogadores do CS</h2>   

                <table class="table table-striped" >
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NickName</th>
                        <th scope="col">Data Nascimento</th>
                        <th scope="col">Quantidade de Estrelas</th>
                        <th scope="col">Patente</th>
                        <th scope="col">Status</th>                            
                        <th scope="col">Alterar</th>
                        <th scope="col">Remover</th>
                    </tr>                     
                    <tbody>
                        <tr v-for="(j, indice) in jogadores">                                                
                                <td>{{indice}}</td>
                                <td>{{j.nickname}}</td>
                                <td>{{j.data_nascimento | formataData}}</td>
                                <td>{{j.qtd_estrela}}</td>
                                <td>{{j.patente.descricao}}</td>
                                <td v-if="j.status"><input type="checkbox" checked disabled></td>
                                <td v-if="!j.status"><input type="checkbox" disabled></td>
                                <td><button v-on:click="editJogador(indice)" class="btn" type="button">Alterar</button></td>
                                <td><button v-on:click="remJogador(indice)" class="btn" type="button">Remover</button></td>
                        </tr>
                    </tbody>
                </table>
                <form id="formulario">
                    <!-- passo 2-->
                    <p v-if="errors.length">
                        <b>Por favor, corrija o(s) seguinte(s) erro(s):</b>
                        <ul>
                          <li v-for="error in errors">{{ error }}</li>
                        </ul>
                      </p>

                    <h3>Formulário para cadastrar novo jogador</h3>
                        <div class="form-group">
                            <label for="inputIndice">#:</label>
                            <input type="text" v-model="novo_jogador.indice" class="form-control" id="inputIndice" disabled>
                        </div>
                        <div class="form-group">
                            <label for="inputNickname">Nickname:</label>
                            <input type="text" maxlength="4" v-on:keypress="isLetter($event)" placeholder="Somente 4 letras .." v-model="novo_jogador.nickname" class="form-control" id="inputNickname">
                        </div>
                        <div class="form-group">
                            <label for="inputDtNasc">D. Nascimento:</label>
                            <input type="date" v-model="novo_jogador.data_nascimento" class="form-control" id="inputDtNasc"><!--Atividade 2 - Aplicar um input/calendario mais apropriado. -->
                        </div>
                        <div class="form-group">
                            <label for="inputQtdEstrela">Quantidade de Estrelas:</label>
                            <input type="number" v-model="novo_jogador.qtd_estrela" class="form-control" id="inputQtdEstrela">
                        </div>
                        <!-- https://br.vuejs.org/v2/guide/forms.html -->                        
                        <div class="form-group">
                            <label for="selectPatente">Patente:</label>
                            <select v-model="novo_jogador.patente" class="form-control" id="selectPatente">                                
                                <option v-for="p in patentes" v-bind:value="p">
                                    {{ p.descricao }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="checkStatus">Status:</label>
                            <input type="checkbox" v-model="novo_jogador.status" id="checkStatus"><!--Atividade 1 - Aplicar um input mais apropriado. -->
                        </div>
                        <div class="form-group">
                            <label for="inputSenha">Senha:</label>
                            <input type="password"  maxlength="4" v-on:keypress="isLetter($event)" placeholder="Somente 4 letras .." v-model="novo_jogador.senha" class="form-control" id="inputSenha"><!--Atividade 3 - Aplicar um input mais apropriado. -->
                        </div>
                        
                        <button @click="addJogador" class="btn btn-primary" type="button">Salvar</button>
                        <button @click="cleanFormulario" class="btn btn-primary" type="button">Limpar</button>
                        
                        </div>                                                                            
                </form>        

        </div>       
    </body>
    <script type="text/javascript">
        $(document).ready(function() {
            var dados = { 
                    //utilizado para o select de patentes
                    patentes: [{codigo: 1, descricao: 'Bronze'},{codigo: 2, descricao: 'Prata'},{codigo: 3, descricao: 'Ouro'}],

                    //utilizado para listar os jogadores na tabela html
                    jogadores:  [ {nickname: 'joaozinho', data_nascimento: '2022-01-01', qtd_estrela: 5, status: true, senha: '123', patente: {codigo: 3, descricao: 'Ouro'} }], 
                            
                    //utilizado para ligar com os inputs do formulário.
                    novo_jogador: {indice: '', nickname: '', data_nascimento: '', qtd_estrela: 0, status: true, senha: '', patente: {}},
                   
                    //passo 1
                    errors: [],
            };

            Vue.filter('formataData', function (value) {                
                //yyyy-mm-dd
                var data = new Date(value);
                data.setDate(data.getDate()+1); //incrementa a data em um dia para mostrar corretamente (pode nao ser necessário)              
                dia  = (data.getDate()).toString().padStart(2, '0'),
                mes  = (data.getMonth()+1).toString().padStart(2, '0'), //+1 pois no getMonth Janeiro começa com zero.                
                ano  = data.getFullYear();                
                return dia+"/"+mes+"/"+ano;                
            })
        
          new Vue({ 
                el: '#app', 
                data: dados,
                methods: { 

                    isLetter(e) {
                        let char = String.fromCharCode(e.keyCode); // Get the character
                        if(/^[A-Za-z]+$/.test(char)) 
                            return true; // Match with regex 
                        else 
                            e.preventDefault(); // If not match, don't add to input text
                    },
                    //https://br.vuejs.org/v2/cookbook/form-validation.html  
                    // validação de formulários “à mão”, 
                    //passo 3
                    checkForm: function () {
                        
                        var data_atual = new Date();

                        var data_form = new Date(this.novo_jogador.data_nascimento);

                        var data_correta = false;

                        if(data_atual > data_form){
                            data_correta = true;
                        }else{
                            data_correta = false;
                        }

                        this.errors = [];
                        

                        if (this.novo_jogador.nickname.trim().length > 3 && 
                           this.novo_jogador.qtd_estrela > 0 &&
                            this.novo_jogador.qtd_estrela < 101 && 
                            this.novo_jogador.senha.length > 3 && 
                            data_correta == true &&
                            !isNaN(parseInt(this.novo_jogador.patente.codigo))) {
                            return true;
                        }

                        if (this.novo_jogador.nickname.trim().length <= 3) {
                            this.errors.push('O nickname é obrigatório.');
                        }

                        if (this.novo_jogador.qtd_estrela < 1 || this.novo_jogador.qtd_estrela > 100) {
                            this.errors.push('Quantidade inválida de estrelas.');
                        }

                        if (this.novo_jogador.senha.trim().length <= 3) {
                            this.errors.push('Informe senha com 4 dígitos.');
                        }              
                        
                        if(data_correta == false){
                            this.errors.push('Informe data.');
                        }
                        if (isNaN(parseInt(this.novo_jogador.patente.codigo))) {
                            this.errors.push('A Patente é obrigatória.');
                        }
                    },

                    addJogador: function () {
                        //passo 4.
                        if(this.checkForm()){

                            var input_indice = this.novo_jogador.indice;
                            //documentação sobre o parseInt
                            //https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/parseInt
                            if(isNaN(parseInt(input_indice))){

                                this.jogadores.push({nickname: this.novo_jogador.nickname.trim(), 
                                                 data_nascimento: this.novo_jogador.data_nascimento.trim(), 
                                                 qtd_estrela: this.novo_jogador.qtd_estrela, 
                                                 status: this.novo_jogador.status, 
                                                 senha:this.novo_jogador.senha.trim(),
                                                 patente:this.novo_jogador.patente}
                                                );
                                alert('Novo Jogador cadastrado !');

                            }else{

                                this.jogadores[input_indice] = {nickname: this.novo_jogador.nickname.trim(), 
                                                 data_nascimento: this.novo_jogador.data_nascimento.trim(), 
                                                 qtd_estrela: this.novo_jogador.qtd_estrela, 
                                                 status: this.novo_jogador.status, 
                                                 senha:this.novo_jogador.senha.trim(),
                                                 patente:this.novo_jogador.patente
                                                };

                                alert('Jogador alterado !');
                            }
                            this.cleanFormulario();

                        }else{
                            alert("Formulário incompleto, veja a lista de erros !!")
                        }//passo 5.
                    },

                    editJogador: function (param_index) {

                        this.novo_jogador.indice = param_index;
                        this.novo_jogador.nickname = this.jogadores[param_index].nickname; 
                        this.novo_jogador.data_nascimento = this.jogadores[param_index].data_nascimento;
                        this.novo_jogador.qtd_estrela = this.jogadores[param_index].qtd_estrela;
                        this.novo_jogador.senha = this.jogadores[param_index].senha;
                        this.novo_jogador.patente = this.jogadores[param_index].patente;
                        this.novo_jogador.status = this.jogadores[param_index].status;
                    },

                    remJogador: function(param_index){
                        
                        var r = confirm("Deseja realmente remover o Jogador " + this.jogadores[param_index].nickname);
                        if (r == true) {
                            
                            //documentacao sobre o splice
                            //https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/Array/splice
                            //remove 1 elemento do índice definido pela variavel param_index                        
                            this.jogadores.splice(param_index, 1);

                            alert('Removeu o jogador. ');

                        } else {

                            alert('O Jogador: ' + this.jogadores[param_index].nickname + " não foi removido.");
                        }                        
                        
                    },
                    
                    cleanFormulario: function() {

                        this.novo_jogador.indice = '';
                        this.novo_jogador.nickname = ''; 
                        this.novo_jogador.data_nascimento = '';
                        this.novo_jogador.qtd_estrela = 0;
                        this.novo_jogador.senha = '';
                        this.novo_jogador.status = true;
                        this.novo_jogador.patente = '';
                    }

                },
                created : function () {

                    this.cleanFormulario();

                }
            }); 
        });

    </script> 
   
 </html>